#lista {
    padding: 20px;
}

#lista li {
    border: solid 2px #345678;
    padding: 6px 15px;
    margin: 8px;
    display: inline;
}

#lista li a {
    border: solid 4px hotpink;
    color: hotpink;
    background-color: #16cae1;
    text-decoration: none;
}

#lista li a:hover {
    border-color: chartreuse;
    background-color: indigo;
}

#lista li a:active {
    color: red;
    background-color: green;
    border-color: red;
}